/* 
|--------------------------------------------------------------------------
| Close Button Styles
|--------------------------------------------------------------------------
|
| Styles for dismissible close button component
|
| CORE STYLES
| • Position: Absolute positioning (10px from parent right)
| • Dimensions: 30x30px square
| • Typography: 23px font size (for X symbol)
| • Background: Transparent by default
| • Border: No border by default
|
| ACCESSIBILITY
| • Minimum touch target: 48x48px (current 30px needs adjustment)
| • Focus states missing (critical for keyboard navigation)
| • Contrast ratio: Ensure X symbol meets 4.5:1 against background
|
| SECURITY
| • Font size 23px could allow injection of larger malicious content
| • Consider using SVG icon instead of HTML entity
|
| BEST PRACTICE IMPROVEMENTS
| 1. Increase button size for accessibility:
|    min-width: 48px;
|    min-height: 48px;
|
| 2. Add interactive states:
|    &:hover { background: rgba(0,0,0,0.1) }
|    &:focus { outline: 2px solid currentColor }
|
| 3. Use SVG icon with aria-label:
|    <button aria-label="Close">
|      <svg aria-hidden="true">...</svg>
|    </button>
|
| 4. Add transition for smooth interactions:
|    transition: all 0.2s ease;
|
| RECOMMENDED ENHANCED VERSION
| .close {
|   position: absolute;
|   right: 1rem;
|   top: 50%;
|   transform: translateY(-50%);
|   width: 3rem;
|   height: 3rem;
|   display: grid;
|   place-items: center;
|   border-radius: 50%;
|   background: transparent;
|   border: 0;
|   cursor: pointer;
|   transition: all 0.2s ease;
|
|   &:hover, &:focus {
|     background: rgba(0,0,0,0.1);
|   }
|
|   &:focus {
|     outline: 2px solid currentColor;
|     outline-offset: 2px;
|   }
|
|   svg {
|     width: 1.25rem;
|     height: 1.25rem;
|     fill: currentColor;
|   }
| }
|
| MAINTENANCE
| © 2025 Dream Care <DreamCare@gmail.com>
| GitHub: @DreamCare ▸ MIT Licensed
|--------------------------------------------------------------------------
*/


.close {
    font-size: 23px;
    position: absolute;
    right: 10px;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: transparent;
}
