.me-img-container {
    width: 100px;
}
input[type="radio"] {
    display: none;

    &:checked ~ label {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid var(--blueColor);
    }
}
label {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
        border: 1px solid var(--blueColor);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}
